{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Hello To Our Konafa Website! ✅</h1>

        <p>This is demo for konafa website So Enjoy :)</p> <br>

        {% if not is_granted('ROLE_USER') %}
            To login please click <a href="{{ path('app_login') }}">here</a>
        {% endif %}
    </div>


    {% block content %}

        <div class="card">
            <div>{{ post.title }}</div>
            <div>{{ post.content }}</div>
            <div>{% if(post.featuredImage) %} <img
                    src="{{ asset('/uploads/featured_images/thumbs/' ~ post.featuredImage) }}">{% endif %}</div>
            <div>{% if(post.file) %} <a href="{{ asset('/uploads/' ~ post.file) }}">{{ post.file }}</a>{% endif %}
            </div>

        </div>

        <div class="row">
            <div class="example-wrapper">{{ post.comments|length }} Comments</div>
        </div>

        {% if is_granted('ROLE_USER') %}
            Leave Your Comment :
            <form action="{{ path('save_comment',{'id': post.id}) }}" method="post">
                <textarea name="content"></textarea>
                <button type="submit">Save</button>
            </form>
        {% endif %}

        <h2>Comments:</h2>
        {% for comment in post.comments %}
            <span class="comment{{ comment.id }}"><b>{{ comment.user.username }}</b> : {{ comment.content }}
                {% if (app.user.username == comment.user.username) or (is_granted('ROLE_ADMIN')) %}
                    <a href="{{ path('comment_delete_ajax',{'id': comment.id}) }}" id="{{ comment.id }}"
                       class="deleteBtn btn btn-danger btn-xs">Remove</a>
                {% endif %}
            </span>

            <br>
        {% endfor %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.deleteBtn').click(function (e) {
                e.preventDefault();
                url = $(this).attr('href');
                var itemClass = url.split('/');
                itemClass = itemClass[itemClass.length - 1]; // comment id
                $.ajax({
                    url: url,
                    type: 'delete',

                    success: function (response) {
                        if (response.status === 'success') {
                            $('.comment' + itemClass).fadeOut(1000).remove();
                        }
                    },
                    error: function (e) {
                        console.log(e.responseText);
                    }
                });
            });
        });
    </script>
{% endblock %}
