{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Hello To Our Konafa Website! ✅</h1>

        <p>This is demo for konafa website So Enjoy :)</p> <br>

        {% if not is_granted('ROLE_USER') %}
            To login please click <a href="{{ path('app_login') }}">here</a>
        {% endif %}
    </div>


    {% block content %}

        <div class="container">
            <div class="row">
                    <div class="col-md-10">
                            <div class="card">
                                {% if(post.featuredImage) %}<img class="card-img-top"
                                                                 src="{{ asset('/uploads/featured_images/' ~ post.featuredImage) }}"
                                                                 alt="Card image cap">{% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.content }}</p>
                                    {% if(post.file) %}<a href="{{ asset('/uploads/' ~ post.file) }}"
                                                          class="btn btn-primary">{{ post.file }}</a>{% endif %}
                                </div>
                            </div>
                    </div>
            </div>
        </div>

        <hr>

        {% if is_granted('ROLE_USER') %}
            <div class="container pb-cmnt-container">
                <div class="row bootstrap snippets">
                    <div class="col-md-10 col-md-offset-2 col-sm-12">
                        <div class="comment-wrapper">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    Comment panel
                                </div>
                                <div class="panel-body">
                                    <form action="{{ path('save_comment',{'id': post.id}) }}" method="post">
                                        <textarea class="form-control" placeholder="write a comment..." rows="3"
                                                  name="content"></textarea>
                                        <br>
                                        <button type="submit" class="btn btn-info pull-right">Post</button>
                                    </form>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="row">
                                        <div class="example-wrapper">{{ post.comments|length }} Comments</div>
                                    </div>
                                    <ul class="media-list">
                                        {% for comment in post.comments %}
                                            <li class="media comment{{ comment.id }}">
                                                <div class="media-body">
                                                    {#                                <span class="text-muted pull-right">#}
                                                    {#                                    <small class="text-muted">30 min ago</small>#}
                                                    {#                                </span>#}
                                                    <strong class="text-success">{{ comment.user.username }}</strong>
                                                    <p>
                                                        {{ comment.content }}
                                                    </p>
                                                </div>
                                                {% if (app.user and (app.user.username == comment.user.username)) or (is_granted('ROLE_ADMIN')) %}
                                                    <a href="{{ path('comment_delete_ajax',{'id': comment.id}) }}"
                                                       id="{{ comment.id }}"
                                                       class="deleteBtn btn btn-danger btn-xs">Remove</a>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        {% endif %}

        <style>
            .pb-cmnt-container {
                font-family: Lato;
            }

            body {
                margin-top: 20px;
            }

            .comment-wrapper .panel-body {
                max-height: 650px;
            }

            .comment-wrapper .media-list .media img {
                width: 64px;
                height: 64px;
                border: 2px solid #e5e7e8;
            }

            .comment-wrapper .media-list .media {
                border-bottom: 1px dashed #efefef;
                margin-bottom: 25px;
            }
        </style>

    {% endblock %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.deleteBtn').click(function (e) {
                e.preventDefault();
                url = $(this).attr('href');
                var itemClass = url.split('/');
                itemClass = itemClass[itemClass.length - 1]; // comment id
                $.ajax({
                    url: url,
                    type: 'delete',

                    success: function (response) {
                        if (response.status === 'success') {
                            $('.comment' + itemClass).fadeOut(1000).remove();
                        }
                    },
                    error: function (e) {
                        console.log(e.responseText);
                    }
                });
            });
        });
    </script>
{% endblock %}
